body {
  background: url('img/dorcia_262f.jpg') no-repeat right top;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-size: 65px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FF0000));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.fenster {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

li {
    list-style-type: none;
}

small {
    color: white;
}

.menu{
	float: left;
	list-style-position: outside;
	width: 15%;
	color: white;
}

.menu .name #level{
  list-style-position: inside;
	font-weight: bold;
}

.menu button { 
	/*font-family: Arial; 
	color:#FFCC99; 
	background-color: #000; 
	border-color: #3f3f3f;
	border-style: inset;*/
	display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.menu button:hover{ 
	font-family: Arial; 
	color:#FFCC99; 
	background-color: #3d3d3d; 
	border-color: #333;
	border-style: inset
}


#message #gameover:empty { visibilty: hidden; }

#message #gameover {
  font-position : center;
  line-height: 1em;
  /* Font Style-Quelle: Html-seminar.de */
    font-size: 50pt;
    font-weight: bold;
    text-shadow:   0px   0px 10px white,
                   5px  -5px 10px #F8FF9D,
                 -10px -10px 20px #F5FE5C,
                  10px -15px 20px #FDDB33,
                 -10px -20px 20px #FFC126,
                  10px -25px 20px #FF7808,
                 -10px -30px 20px #F95801,
                  15px -35px 20px #FE7606,
                 -15px -40px 20px #FD5C01,
                  15px -45px 15px #E54600,
                 -20px -50px 15px #D23700,
                  20px -55px 15px #B82B00,
                 -20px -60px 15px #A11301,
                  20px -65px 15px #981D01,
                 -25px -70px 10px #851200,
                  25px -75px 10px #690D00,
                 -25px -80px 10px #3E0600;
}

.level { 
 background-color: black; 
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;

}
.level.grube {
  background-color: black;
}
.level.wumpus {
  background-color: black;
}
.level.luftzug  {
  background-color: black;
}
.level.gestank {
  background-color: black;
}
.level.schatz {
  background-color: black; 
}
.level.spieler {
  background-color: black;
  color: orange;
}

#spiel  {
  width: 85%;
}
#feld .spielfeld  {
  
  margin: 0 auto;
}
#feld .spielfeld td {
  /*width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);*/
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-spacing: 5px;
  border-collapse: separate;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  background: black;
}
#anleitung {
  float: right;
  width: 85%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-align: justify;
  font-style: italic;
}
#anleitung .underline {
  text-decoration:underline
}